<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/NavBar/navBar.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("AddToHeadAnotherWay", required: false)
</head>
<body>
    @if (IsSectionDefined("noNavBar"))
    {
        @RenderSection("noNavBar", required: false)
    }
    else
    {
        <div class="head">
            <div class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="@Url.Action("Login","Login")"> <img src="~/Content/Images/joole-removebg-preview-removebg-preview.png" style="width:50%" /></a>
                    </div>
                    <div class="col-sm-3 col-md-3 ">

                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <div class="dropdown">
                                        <select id="dropdown" class="form-control bg-info" name="categoryName">
                                            <option>Category</option>
                                            <option>Mechanical</option>
                                            <option>Electrical</option>
                                            <option>Stationary</option>
                                            <option>Furniture</option>
                                        </select>
                                    </div>
                                </div>
                                <input class="form-control" style="width:500px" placeholder="Search..." type="text" name="searchVal" />
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" name="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    }

    <div class="container body-content">@RenderBody()</div>

    @Scripts.Render("~/bundles/jquery") @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
