@model List<Joole_MVC_Core.POCOClasses.ToasterSpecDetailUI>

@{
    ViewBag.Title = "Soh";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        .headbar2 {
            display: inline-block;
            background-color: #f7f7f7;
            background-image: linear-gradient(white, #f7f7f7);
            width: 134%;
            height: 60px;
            margin-left: -195px;
            padding-top: 30px;
            padding-left: 280px;
            color: #26619c;
        }

        .imgtd {
            display: inline-block;
            border-style: solid;
            border-width: 1px;
            border-color: #D8D8D8;
            width: 230px;
            height: 145px;
            margin-top: 5px;
        }

        .infotd {
            display: inline-block;
            border-style: solid;
            border-width: 1px;
            border-color: #D8D8D8;
            width: 240px;
            height: 30px;
            font-weight: bolder;
            padding-left: 5px;
            padding-top: 4px;
            background-color: #E8E8E8;
            border-top-style: none;
        }

        .infotd2 {
            display: inline-block;
            border-style: solid;
            border-width: 1px;
            border-color: #D8D8D8;
            width: 230px;
            height: 30px;
            padding-left: 5px;
            padding-top: 4px;
            border-top-style: none;
            border-left-style: none;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="headbar2">
        <a onclick="location.href='@Url.Action("Toasters", "ProductSummary")'" href="#">Mechanical > Toasters > </a>
        <a href="#">Compare</a>
    </div>
    <table style="margin-left:215px;">
        <tr>
            <td class="imgtd" style="border-right-style:none; width:240px;"></td>
            <td class="imgtd"><img src="~/Images/Snko 41 Toasters.jpg" alt="41toaster" width="220" height="140" style="margin-left:5px;"></td>
            <td class="imgtd" style="border-left-style:none;"><img src="~/Images/Snko 43 Toasters.jpg" alt="43toaster" width="220" height="140" style="margin-left:3px;"></td>
        </tr>
        <tr>
            <td class="infotd" style="width: 700px;"><u>DESCRIPTION</u></td>
        </tr>
        <tr>
            <td class="infotd">Manufacture</td>
            <td class="infotd2">Joking</td>
            <td class="infotd2">Joking</td>
        </tr>
        <tr>
            <td class="infotd">Series</td>
            <td class="infotd2">Sanko 41 H</td>
            <td class="infotd2">Sanko 43</td>
        </tr>
        <tr>
            <td class="infotd">Model</td>
            <td class="infotd2">SK-11-97</td>
            <td class="infotd2">SK-13-99</td>
        </tr>
        <tr>
            <td class="infotd" style="width: 700px;"><u>TYPE</u></td>
        </tr>
        <tr>
            <td class="infotd">User Type</td>
            <td class="infotd2">Commercial</td>
            <td class="infotd2">Commercial</td>
        </tr>
        <tr>
            <td class="infotd">Application</td>
            <td class="infotd2">Indoor</td>
            <td class="infotd2">Indoor</td>
        </tr>
        <tr>
            <td class="infotd">Slot</td>
            <td class="infotd2">Single</td>
            <td class="infotd2">Multi</td>
        </tr>
        <tr>
            <td class="infotd">Model Year</td>
            <td class="infotd2">2018</td>
            <td class="infotd2">2020</td>
        </tr>
        <tr>
            <td class="infotd" style="width: 700px;"><u>TECHNICAL SPECIFICATIONS</u></td>
        </tr>
        <tr>
            <td class="infotd">Number of Programs</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(0).NumOfPrograms)</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(2).NumOfPrograms)</td>
        </tr>
        <tr>
            <td class="infotd">Slices per hour</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(0).OutputPerHour)</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(2).OutputPerHour)</td>
        </tr>
        <tr>
            <td class="infotd">Slot Width (in)</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(0).SlotWidth)</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(2).SlotWidth)</td>
        </tr>
        <tr>
            <td class="infotd">Height (in)</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(0).ToasterHeight)</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(2).ToasterHeight)</td>
        </tr>
        <tr>
            <td class="infotd">Weight (lbs)</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(0).ToasterWeight)</td>
            <td class="infotd2">@Html.DisplayFor(modelItem => Model.ElementAt(2).ToasterWeight)</td>
        </tr>

    </table>

</body>
</html>

